@using Blog.Models
@model AppUser

@{
    ViewBag.Title = "GetPosts";
}

<h2>Посты автора @Model.UserName</h2>

@foreach (var post in Model.Posts)
{
    Тема:<h5>@post.Title</h5> <br>
    Текст: <h5>@post.Text</h5>
    @using (Html.BeginForm("Edit", "Blog", new { id = post.Id }))
    {
        <button class="btn btn-danger btn-xs" type="submit">Редактировать</button>
    }
}